/* Body Styles */

body {
  background: #f3f0f1;
  font-family: 'Montserrat', sans-serif;
  color: #160c28;
  text-align: center;
}

.topBar {
  font-family: Lobster;
  font-size: 40px;
  margin: 40px auto;
}

.playerButtons,
.computerChoice,
.resultsBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomResultsBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gameBoard {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
}

.resultsPlacard,
.button,
.resetButton,
.resultsDisplay,
.computerDisplay {
  background: #f3f0f1;
  /* position: relative; */
  margin: 12px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
}

.resultsPlacard {
  padding: 10px;
  width: 90%;
  min-height: 75%;
  line-height: 40px;
  font-size: 22px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button,
.computerDisplay {
  width: 90%;
  height: 100px;
  transition: all 0.1s ease-in-out;
  line-height: 100px;
  font-size: 32px;
}

.resetButton,
.resultsDisplay {
  width: 50%;
  height: 40px;
  transition: all 0.1s ease-in-out;
  line-height: 40px;
  font-size: 20px;
}

.button:hover,
.resetButton:hover {
  opacity: 0.3;
}

.button:active,
.resetButton:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
